* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'montseratt', sans-serif;
}

.App {
  background-image: url('./images/cold-bg.jpg');
  background-size: cover;
  background-position: bottom;
  transition: 0.5 ease-out;
}

.App.warm {
  background-image: url('./images/warm-bg.jpg');
}

main {
  min-height: 100vh;
  background-image: linear-gradient(to bottom, rgba(0,0,0, 0.2), rgba(0,0,0, 0.75));
}