* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'montseratt', sans-serif;
}

.App {
  background-image: url('./images/cold-bg.jpg');
  background-size: cover;
  background-position: bottom;
  transition: 0.5 ease-out;
}

.App.warm {
  background-image: url('./images/warm-bg.jpg');
}

main {
  min-height: 100vh;
  background-image: linear-gradient(to bottom, rgba(0,0,0, 0.2), rgba(0,0,0, 0.75));
  padding: 30px;
}

.search-box {
  width: 100%;
  margin: 0 0 80px;
}

.search-box .search-bar {
  display: block;
  width: 100%;
  padding: 20px;
  appearance: none;
  background: none;
  border: none;
  outline: none;
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 0px 0px 14px 14px;
}
